.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Footer Css */
#footer
{
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px;
  background-color: #15191b;
  font-family:serif;
  color: aliceblue;
}
.HeadTag
{
  display: flex;
  text-align: center;
  margin:10px 10px ;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.Text1
{
  margin-top: 60px;
}
.img1 img
{
  border-radius: 50%;
}
.HeadTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .HeadTag {
    flex-direction: row;
  }
  
  .Text1 {
    flex: 1;
    margin-right: 20px;
  }
  
  .img1 {
    flex: 1;
  }
}